@import "variables";
@import "mixins";

.db {
  &__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    height: $db-header-height;

    background: #ffffff;
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);
  }

  &__new {
    margin-top: $db-header-height;
    padding: 1.5rem;

    background: #dadce0;
  }

  &__create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;

    font-size: 1.5rem;
    text-align: center;
    color: #000000;
    text-decoration: none;

    background: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 4px;

    transition: color 0.2s linear, border-color 0.2s linear;

    &:hover {
      color: green;

      border-color: green;
      cursor: pointer;
    }
  }

  &__view {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__table {
    padding: 1rem;
  }

  &__list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 12px;

    font-weight: 500;
    font-size: 16px;
    color: #202124;
  }

  &__list {
    @include clear-list;
  }

  &__record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px 14px 12px 16px;

    border-radius: 25px;

    transition: background 0.2s linear;

    &:hover {
      background: #e6f4ea;
    }

    a {
      font-size: 14px;
      color: #202124;
      text-decoration: none;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
