@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  right: 0;
  left: 0;

  padding-bottom: 2px;
  overflow-x: auto;

  & .row {
    display: flex;
    flex-direction: row;
    height: $row-height;
    min-height: 20px;
  }

  & .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;

    background: #f8f9fa;
    border: 1px solid $border-color;
    border-top: none;
  }

  & .row-data {
    display: flex;
  }

  & .column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $cell-width;
    min-width: 40px;
    height: 100%;

    background: #f8f9fa;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
  }

  & .cell {
    width: $cell-width;
    min-width: 40px;
    height: 100%;
    padding: 5px;

    color: #111111;
    white-space: nowrap;

    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    outline: none;

    transition: outline .2s linear;

    &.selected {
      z-index: 2;

      border: none;
      outline: 2px solid #3c74ff;
    }
  }
}
