@mixin button($color: green) {
  position: relative;

  display: inline-block;
  min-width: 24px;
  height: 24px;
  padding: 3px;

  text-align: center;
  color: rgba(0, 0, 0, 0.7);

  transition: color 0.2s linear, background 0.2s linear;

  & i {
    font-size: 18px;
  }

  &:active,
  &.active {
    color: $color;
  }

  &:hover {
    background: #eeeeee;
    cursor: pointer;
  }
}


@mixin clear-list() {
  margin: 0;
  padding: 0;

  list-style: none;
}
