@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic$dispaly=swap");
@import "~normalize.css";

@import "./components/header";
@import "./components/toolbar";
@import "./components/formula";
@import "./components/table";
@import "./components/dashboard";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.excel {
  position: relative;

  max-width: 100%;
  height: 100%;

  font-size: 0.8rem;
  color: #888888;
}
